<ion-tabs>

  <ion-tab-bar slot="bottom" color="warning" >
    <ion-tab-button href="/tabs/re" tab="revenue">
      <ion-label color ="success" ><h1 style="zoom:1.5;" >+</h1></ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon color="light" style="zoom:1.5.0;" name="camera"></ion-icon>
      <ion-label color="light" >SCAN</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/expend" tab="expend">
      <ion-label color="warning"  color="danger" ><h1  style="zoom:1.5;">-</h1></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
